.loading_animation[data-loading="true"] {
    position: fixed;
    display: flex;
    background-color: rgb(255, 255, 255);
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    z-index: 99999999999;
    flex-direction: column;
    .loading_image {
        background: url("/files/images/loading/loading.gif");
        background-size: contain;
        background-position: (0% , 0%);
        background-repeat: no-repeat;
        width: 100px;
        height: 100px;
    }
}


.loading_animation[data-loading="false"] {
    transition: all 0.9s ease-in-out;
    position: fixed;
    display: flex;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    z-index: 99999999999;
    flex-direction: column;
    border-radius: 10px;
    transform: scale(5);
    opacity: 0;
    .loading_text_animation::after {
        content: "";
        animation: none;
    }
    
}



.loading_text_animation::after {
    content: "loading";
    animation: loading 2s infinite;
}


@keyframes loading {
    0% {
        content: "loading";
        transition: all 1s ease ;
    }
    33% {
        content: "loading.";
        transition: all 1s ease ;
    }
    63% {
        content: "loading..";
        transition: all 1s ease ;
    }
    100% {
        content: "loading...";
        transition: all 1s ease ;
    }
}