@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

.root {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("/files/images/login_pages/tamanna-rumee-eD1RNYzzUxc-unsplash-min.jpg");
    background-size: cover;
    background-position: 0;
    overflow-x: hidden;
    min-height: 100vh;
}

.login_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-width: 400px;
    height: 500px;
    border: 1px solid black;
    border-radius: 10px;
    backdrop-filter: blur(0.3rem);
    padding: 1rem;
    .login_img {
        background: url("/files/images/login_pages/login_account_logo.svg");
        width: 110px;
        height: 110px;
        background-size: 100% 100%;
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        gap: 1rem;
        .email_div, .password_div {
            input {
                border: none;
                outline: none;
                font-size: 1.5rem;
                padding: 5px;
                border-radius: 10px;
            }
        }
        .login_message {
            display: inline-block;
            border: 1px solid black;
            border-radius: 10px;
            padding: 5px;
            background: rgb(168, 168, 168);
            color: red;
            font-weight: 900;
        }
        .login_btn {
            font-family: 'Lobster', cursive;
            font-size: 30px;
            padding: 5px;
            width: 150px;
            height: 50px;
            background:rgb(58, 55, 255);
            border: 0 solid transparent;
            border-radius: 10px;
            color: #fff;
            cursor: pointer;
        }
    }
    .signup_text {
        font-family: 'Lobster', cursive;
        font-weight: 900;
        margin-top: auto;
        color: #fff;
    }
}