<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/files/css/loading.min.css">
  <link rel="shortcut icon" href="/files/icons/trolley.png" type="image/x-icon" />
  <link rel="stylesheet" href="/files/css/main.min.css" />
  <link rel="stylesheet" href="/files/css/header.min.css">
  <link rel="stylesheet" href="/files/css/avatar.min.css">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/regular.min.css"
    integrity="sha512-WidMaWaNmZqjk3gDE6KBFCoDpBz9stTsTZZTeocfq/eDNkLfpakEd7qR0bPejvy/x0iT0dvzIq4IirnBtVer5A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/brands.min.css"
    integrity="sha512-9YHSK59/rjvhtDcY/b+4rdnl0V4LPDWdkKceBl8ZLF5TB6745ml1AfluEU6dFWqwDw9lPvnauxFgpKvJqp7jiQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/fontawesome.min.css"
    integrity="sha512-SgaqKKxJDQ/tAUAAXzvxZz33rmn7leYDYfBP+YoMRSENhf3zJyx3SBASt/OfeQwBHA1nxMis7mM3EV/oYT6Fdw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <title>ERROR 404 - Not Found</title>
</head>

<body>
  <div class="loading_animation" data-loading="true">
    <div class="loading_image"></div>
    <span class="loading_text_animation"></span>
  </div>
  <script src="/files/js/loading.js"></script>

  <header>
    <div class="align_label-span" style="display: flex; gap: 1rem;align-items: center;">
      <span class="logo"><a href="/"><span class="shoppy">Shoppy</span>.tn</a></span>
    </div>

    <div class="align_input-button">

      <button class="cart">
        <a href="/cart">
          <i class="fa-solid fa-cart-shopping fa-xl" style="color: rgb(0, 0, 0);">
            <span id="cart_number" class="cart_number"></span>
          </i>
        </a>
      </button>
      <div id="avatar" class="avatar"></div>
      <a href="/login" id="login_btn"><button class="login"><span>Login</span></button></a>
    </div>

  </header> 

  <div class="root">
    <h1 style="text-align:center;">ERROR 404 Not found</h1>
    <p style="text-align:center;">The requested URL was not found on the server.</p>
    <h3 style="text-align:center;">please return to the <a href="/">home page</a></h3>
  </div>
</body>
<script src="/files/js/remove_login_btn.js"></script>
</html>