<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/files/css/loading.min.css">
  <link rel="shortcut icon" href="/files/icons/trolley.png" type="image/x-icon">
  <link rel="stylesheet" href="/files/css/main.min.css">
  <link rel="stylesheet" href="/files/css/header.min.css">
  <link rel="stylesheet" href="/files/css/avatar.min.css">
  <link rel="stylesheet" href="/files/css/bottom_nav.min.css">
  <link rel="stylesheet" href="/files/css/about_us.min.css">
  <link rel="stylesheet" href="/files/css/navigation.min.css">
  <link rel="stylesheet" href="/files/css/footer.min.css">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/regular.min.css"
    integrity="sha512-WidMaWaNmZqjk3gDE6KBFCoDpBz9stTsTZZTeocfq/eDNkLfpakEd7qR0bPejvy/x0iT0dvzIq4IirnBtVer5A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/brands.min.css"
    integrity="sha512-9YHSK59/rjvhtDcY/b+4rdnl0V4LPDWdkKceBl8ZLF5TB6745ml1AfluEU6dFWqwDw9lPvnauxFgpKvJqp7jiQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/fontawesome.min.css"
    integrity="sha512-SgaqKKxJDQ/tAUAAXzvxZz33rmn7leYDYfBP+YoMRSENhf3zJyx3SBASt/OfeQwBHA1nxMis7mM3EV/oYT6Fdw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <title>Shoppy.tn: Shopping...</title>
</head>


<body>
  <div class="loading_animation" data-loading="true">
    <div class="loading_image"></div>
    <span class="loading_text_animation"></span>
  </div>
  <script src="/files/js/loading.js"></script>

  <header>
    <div class="align_label-span" style="display: flex; gap: 1rem;align-items: center;">
      <span class="logo"><a href="/"><span class="shoppy">Shoppy</span>.tn</a></span>
    </div>

    <div class="align_input-button">
      <div id="avatar" class="avatar"></div>
      <a href="/login" id="login_btn"><button class="login"><span>Login</span></button></a>
    </div>

  </header>



  <div class="root">
    <div class="about_image"></div>

    <div>
      <h1>ABOUT US</h1>
      <p>
        Welcome to Shoppy.tn! We're a team of passionate individuals dedicated to providing our customers with the best
        possible online shopping experience.
        Our journey began with a simple idea: to create an e-commerce platform that not only offers a wide selection of
        high-quality products, but also prioritizes customer satisfaction above all else. We believe that every customer
        deserves a seamless, enjoyable shopping experience, and we work tirelessly to ensure that our website reflects
        that philosophy.
        At Shoppy.tn, we're committed to offering a diverse range of products that cater to all tastes and preferences.
        From the latest fashion trends to cutting-edge technology, we have something for everyone. Our team carefully
        selects each and every product to ensure that it meets our high standards of quality and value.
        We also believe in transparency and honesty. That's why we're committed to providing our customers with accurate
        product descriptions, fair pricing, and fast, reliable shipping. Our goal is to make your shopping experience as
        easy and enjoyable as possible.
        Thank you for choosing Shoppy.tn. We look forward to serving you and exceeding your expectations!
        i am ahmed mbarek the developer of this page and i am so glad to hear your voice about my project please contact
        me with viditing the contact us page if you want any question or anything else !
      </p>
    </div>


    <footer>
      <div class='top_footer'>

        <div class="logo">
          <h1>Shoppy <span style="background-color: #fff;color:#000;">.tn</span></h1>
        </div>

        <p>its all about your dreams.</p>

        <div class="links">
          <li><a href="/about_us.html">ABOUT US</a></li>
          <li><a href="/contact_us.html">CONTACT US</a></li>
        </div>

        <div class="social">
          <li class="facebook"><a href="https://www.facebook.com/ahmd.torchi/" target="_blank"
              rel="noopener noreferrer"><i class="fa-brands fa-facebook
                    fa-beat"></i></a></li>
          <li class="instagram"><a href="https://www.instagram.com/ahmd.torchi/" target="_blank"
              rel="noopener noreferrer"><i class="fa-brands
                    fa-square-instagram fa-beat"></i></a></li>
          <li class="github"><a href="https://github.com/ahmedmbarektorjmen" target="_blank"
              rel="noopener noreferrer"><i class="fa-brands fa-github
                    fa-beat"></i></a></li>
          <li class="youtube"><a href="https://www.youtube.com/channel/UCfQeKm3NW9dOB8uheWu1h4g" target="_blank"
              rel="noopener noreferrer"><i class="fa-brands fa-youtube
                    fa-beat"></i></a></li>
          <li class="twitter"><a href="https://twitter.com/Torcki__ff" target="_blank" rel="noopener noreferrer"><i
                class="fa-brands fa-twitter
                    fa-beat"></i></a></li>
        </div>
      </div>

      <div class="footer_copyright">
        <span>&#169; 2024 all rights reserved to ahmed mbarek</span>
        <i class="fa-solid fa-heart"></i>
      </div>


    </footer>






    <nav class="bottom_navigation">
      <a class="home" href="/">
        <button class="fa-solid fa-house fa-xl " style="color: #000;"></button>
      </a>

      <a class="search_btn" href="/search.html">
        <button class="fa-solid fa-magnifying-glass fa-xl" style="color: #616161;"></button>
      </a>
      <a class="cart" href="/cart.html">
        <button class="fa-solid fa-cart-shopping fa-xl" style="color: #616161;">
          <span id="cart_number" class="cart_number"></span>
        </button>
      </a>

      <a class="account" href="/account.html">
        <button class="fa-solid fa-user fa-xl" style="color: #616161;"></button>
      </a>
    </nav>
    <script src="/files/js/navbar.js"></script>

</body>
<script src="/files/js/remove_login_btn.js"></script>
</html>