<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/files/css/signup.min.css">
    <link rel="stylesheet" href="/files/css/loading.min.css">
    <title>signup to shoppy.tn</title>
</head>

<body>
    <div class="root">
        <div class="loading_animation" data-loading="true">
            <div class="loading_image"></div>
            <span class="loading_text_animation"></span>
        </div>
        <script src="/files/js/loading.js"></script>
        <div class="signup_card">
            <form action="" method="get">
                <h1>Sign up</h1>
                <div class="name_div"><input type="text" name="username" id="username" placeholder="username"></div>
                <div class="email_div"><input type="email" name="email" id="email" placeholder="email"></div>
                <div class="password_div"><input type="password" name="password" id="password" class="password"
                        placeholder="password"></div>
                <div class="password_div"><input type="password" name="repassword" id="repassword" class="password"
                        placeholder="password again.."></div>
                <img id="captcha-image" width="150" height="75" alt="CAPTCHA">
                <button type="button" onclick="setCaptchaToken()">Refresh CAPTCHA</button>
                <div class="password_div"><input type="text" id="captcha" placeholder="enter captcha..." name="captcha"
                        required></div>
                <input type="hidden" id="captcha_token" name="captcha_token">
                <button type="submit" class="signup_btn" id="signup_btn">Signup</button>
                <div class="signup_message" id="signup_message" style="display: none;"></div>
            </form>
            <div class="login_text">you have an account? <a href="/login.html">login</a></div>
        </div>
    </div>
    <script src="/files/js/signup.js"></script>
</body>

</html>