.root {
  padding: 0;
}

h1 {
  text-align: center;
}

.about_image {
  width: 100vw;
  height: 50vw;
  background: url("/files/images/about_page/allbirds-2.webp") fixed;
  background-repeat: no-repeat;
  background-size: contain;
  overflow: hidden;
}