@media screen and (max-width: 800px) {
  .bottom_navigation {
    width: 100%;
    height: 50px;
    position: fixed;
    display: flex;
    justify-content: space-around;
    bottom: 0;
    border-radius: 10px 10px 0 0;
    background-color: rgba(255, 255, 255, 0.6901960784);
    overflow: hidden;
    -webkit-backdrop-filter: blur(0.6rem);
            backdrop-filter: blur(0.6rem);
    box-shadow: 0px 0px 30px -5px rgba(0, 0, 0, 0.75);
  }
  .bottom_navigation .home {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    height: 100%;
    width: 100%;
    min-width: 40px;
    background: none;
    border: 1px solid transparent;
    border-radius: 8px;
    cursor: pointer;
  }
  .bottom_navigation .home:hover {
    transition: 0.3s ease-in-out;
    background: #e4dbff;
  }
  .bottom_navigation .home button {
    background: none;
    border: none;
    cursor: pointer;
  }
  .bottom_navigation .search_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    height: 100%;
    width: 100%;
    min-width: 40px;
    background: none;
    border: 1px solid transparent;
    border-radius: 8px;
    cursor: pointer;
  }
  .bottom_navigation .search_btn:hover {
    transition: 0.3s ease-in-out;
    background: #e4dbff;
  }
  .bottom_navigation .search_btn button {
    background: none;
    border: none;
    cursor: pointer;
  }
  .bottom_navigation .cart {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    height: 100%;
    width: 100%;
    min-width: 40px;
    background: none;
    border: 1px solid transparent;
    border-radius: 8px;
    cursor: pointer;
  }
  .bottom_navigation .cart:hover {
    transition: 0.3s ease-in-out;
    background: #e4dbff;
  }
  .bottom_navigation .cart button {
    background: none;
    border: none;
    cursor: pointer;
  }
  .bottom_navigation .account {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    height: 100%;
    width: 100%;
    min-width: 40px;
    background: none;
    border: 1px solid transparent;
    border-radius: 8px;
    cursor: pointer;
  }
  .bottom_navigation .account:hover {
    transition: 0.3s ease-in-out;
    background: #e4dbff;
  }
  .bottom_navigation .account button {
    background: none;
    border: none;
    cursor: pointer;
  }
}