@media screen and (min-width: 801px) {
  .resultsDiv {
    z-index: 999999999;
    display: flex;
    overflow-x: hidden;
    padding: 0.5rem;
    position: fixed;
    border-radius: 0 0 10px 10px;
    top: 3.125rem;
    right: 9.5rem;
    height: 300px;
    width: 400px;
    background: hsla(0, 0%, 83%, 0.836);
    -webkit-backdrop-filter: blur(0.6rem);
    backdrop-filter: blur(0.6rem);
    flex-direction: column;
    overflow: scroll;
    align-items: center;
    gap: 0.5rem;
  }
  .resultsDiv::-webkit-scrollbar {
    width: 10px;
    border-radius: 10px;
    -webkit-backdrop-filter: blur(0.6rem);
    backdrop-filter: blur(0.6rem);
    background: none;
  }
  .resultsDiv::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.384);
    -webkit-backdrop-filter: blur(0.6rem);
    backdrop-filter: blur(0.6rem);
    border-radius: 10px;
  }
  .resultsDiv::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.767);
  }
  .resultsDiv::-webkit-scrollbar-corner {
    display: none;
  }
  .resultsDiv .div_product {
    display: flex;
    justify-content: flex-start;
    height: 35%;
    min-height: 120px;
    background: none;
    border: 1px solid transparent;
    border-radius: 10px;
    cursor: pointer;
    padding: 5px;
    overflow: hidden;
  }
  .resultsDiv .div_product:hover {
    transition: 0.5s ease-in-out;
    background: rgba(191, 176, 241, 0.562);
  }
  .resultsDiv .div_product img {
    min-width: 50px;
    height: 100%;
    border: 1px solid transparent;
    border-radius: 10px;
  }
  .resultsDiv .div_product .div_content {
    display: flex;
    flex-direction: column;
    margin-left: 0.2rem;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
  }
  .resultsDiv .div_product .div_content .div_content_title {
    color: #00f;
  }
  .resultsDiv .div_product .div_content .div_content_price {
    color: #f00;
  }
  header .search_icon {
    border: none;
    border-radius: 10px;
    background: transparent;
    font-size: 1.1rem;
    height: 30px;
    width: 30px;
    display: inline-block;
    position: absolute;
    top: 0.7rem;
    left: 13.5rem;
    cursor: pointer;
  }
  header .search_icon:hover {
    transition: 0.5s ease-in-out;
    background: hsla(254, 100%, 93%, 0.6);
    -webkit-backdrop-filter: blur(0.6rem);
    backdrop-filter: blur(0.6rem);
  }
}